<div class="container" style="background-color: antiquewhite">
  <h1 class="mt-3 text-center animate__animated animate__bounce slower" style="
      color: maroon;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    ">
    <strong>Marvel Creators Universe </strong>
  </h1>
  <h2 class="mt-3 text-center animate__animated animate__bounce slower" style="
      color: darkslategray;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    ">
    <strong>Marvel Universe </strong>
  </h2>
  <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
    <div class="col" *ngFor="let creator of creators">
      <div class="card animate__bounceIn">
        <a [routerLink]="['/detalles', creator.id]" [queryParams]="{ accion: 'creator' }">
          <img src="{{ creator.thumbnail.path }}.{{ creator.thumbnail.extension }}" class="card-img-top img-fluid"
            style="height: 300px" />
        </a>
        <div class="card-body" style="text-align: center">
          <h5 class="card-title">{{ creator.fullName }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
