<div *ngIf="logueado; else cargando">
  <div *ngIf="usuario.photoURL; else OutGoogle">
    <div class="card" style="width: 18rem">
      <img src="{{ usuario.photoURL }}" class="card-img-top img-fluid" width="200px" height="200px"/>
      <div class="card-body">
        <h5 class="card-title">USUARIO : {{ usuario.displayName }}</h5>
        <p class="card-text">EMAIL : {{ usuario.email }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #cargando>
  <div class="container">
    <img src="./../../../assets/images/perfil.png" width="400px" height="400px"/>
  </div>
</ng-template>

<ng-template #OutGoogle>
  <div class="card" style="width: 18rem">
    <img src="./../../../assets/images/perfil.png" class="card-img-top img-fluid" width="200px" height="200px"/>
    <div *ngIf="usuario.displayName == null" class="card-body">
      <h5 class="card-title">USUARIO : {{ usuario.email }}</h5>
      <p class="card-text">EMAIL : {{ usuario.email }}</p>
    </div>
    <div *ngIf="usuario.displayName != null" class="card-body">
      <h5 class="card-title">USUARIO : {{ usuario.displayName }}</h5>
      <p class="card-text">EMAIL : {{ usuario.email }}</p>
    </div>
  </div>
</ng-template>
