<div *ngIf="!logueado; else login">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Acceso
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/registro']">Registro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']">Log In</a>
            </li>
          </ul>
        </li>
      </ul>

      <a class="nav-link" [routerLink]="['']">
        <img src="./../../../assets/images/Marvel_Logo.png" alt="" style="width: 150px; height: 50px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
        aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['series']">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['comics']">Comics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['personajes']">Personajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['events']">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['stories']">Historias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['creators']">Creadores</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<ng-template #login>
  <div *ngIf="usuario.photoURL; else login2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
      <div class="container-fluid">
        <a [routerLink]="['']"><img src="./../../../assets/images/Marvel_Logo.png" alt=""
            style="width: 150px; height: 50px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
          aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample08">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/series']">Series</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/comics']">Comics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/personajes']">Personajes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['events']">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['stories']">Historias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['creators']">Creadores</a>
            </li>
          </ul>
        </div>

        <a class="navbar-brand" href="" *ngIf="usuario">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ usuario.photoURL }}" width="30px" height="30px" class="img-fluid"
                  style="border-radius: 100%" />
                {{ usuario.displayName }}
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li>
                  <a [routerLink]="['/perfil']" class="dropdown-item">Perfil</a>
                </li>
                <li>
                  <a [routerLink]="['/editar']" class="dropdown-item">Editar</a>
                </li>
                <li>
                  <button class="botoncerrar" (click)="logOut()">
                    Cerrar sesión
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </a>
      </div>
    </nav>
  </div>
</ng-template>

<ng-template #login2>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <a [routerLink]="['']"><img src="./../../../assets/images/Marvel_Logo.png" alt=""
          style="width: 150px; height: 50px" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
        aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/series']">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/comics']">Comics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/personajes']">Personajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['events']">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['stories']">Historias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['creators']">Creadores</a>
          </li>
        </ul>
      </div>

      <a class="navbar-brand" href="" *ngIf="usuario">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="./../../../assets/images/perfil.png" width="30px" height="30px" class="img-fluid"
                style="border-radius: 100%" />
              {{ usuario.displayName }}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li>
                <a [routerLink]="['/perfil']" class="dropdown-item">Perfil</a>
              </li>
              <li>
                <a [routerLink]="['/editar']" class="dropdown-item">Editar</a>
              </li>
              <li>
                <button class="botoncerrar" (click)="logOut()">
                  Cerrar sesión
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </a>
    </div>
  </nav>
</ng-template>
<br />
