<br>
<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Iniciar sesión</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fa fa-facebook-square"></i></span>
          <span><i class="fa fa-google-plus-square"></i></span>
          <span><i class="fa-facebook-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" #formLogIn="ngForm">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
            </div>
            <input type="email" name="email" class="form-control" #email placeholder="example@gmail.com" required />
          </div>
          <br>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
            </div>
            <input type="password" name="password" #password class="form-control" placeholder="password" minlength="6"
              maxlength="20" pattern="[A-Za-z0-9]{6,20}" required />
          </div>
          <br>
          <div class="form-group">
            <button (click)="logIn()" class="btn float-left login_btn">Acceder</button>
            <button style="margin-left: 50%;" (click)="logInGoogle()" class="btn float-right btn-danger">
              Google
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          ¿No tienes cuenta?<a [routerLink]="'/registro'">Registrate</a>
        </div>
      </div>
    </div>
  </div>
</div>
